{{#each data}}
  <div class="header-nav-inner header-nav-{{slug}}">
    <nav class="navigation">
    <ul class="navigation-menu" role="menubar" aria-hidden="false">
        <li class="navigation-logo" role="menuitem">
          <a class="header-title" href="{{url}}" tabindex="0" title="{{title}}">{{title}}</a>
        </li>
        <li class="navigation-items">
          <div class="row align-right">
        {{#each nav-items}}
          {{#if sub-nav}}
            <div class="menu-item has-submenu show-for-large" role="menuitem" aria-haspopup="true">
              <button type="button" class="menu-link has-submenu " tabindex="0" data-toggle="{{slug}}" data-hash="{{title}}">{{title}}</button>
              <div id="{{slug}}" class="menu-submenu-wrapper is-submenu dropdown-pane" data-dropdown data-hover="true" data-hover-pane="true" data-v-offset="0" data-h-offset="0" data-hover-delay="0">
                <ul class="menu-submenu" aria-hidden="true" role="menu">
                  {{#each sub-nav}}
                    <li role="menuitem" class="menu-submenu-item">
                        <a href="{{url}}" class="menu-submenu-link">
                            <div class="submenu-item-icon icon-circle-large" alt="{{slug}}">
                              <img src="{{icon}}" alt="{{slug}}"/>
                            </div>
                            <h4 class="submenu-item-header type-header-small">{{title}}</h4>
                            <div class="submenu-item-desc">{{{description}}}</div>
                        </a>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          {{else}}
            <div class="menu-item show-for-large" role="menuitem">
              <a href="{{url}}" class="menu-link" tabindex="0">{{title}}</a>
            </div>
          {{/if}}
        {{/each}}
      </div>
        </li>
      </ul>
    </nav>
  </div>
{{/each}}
