<li class="tab-heading tabs-title {{#if @index}}{{else}}is-active{{/if}}" role="presentation">
  <a href="#{{this}}" role="tab" aria-controls="{{this}}" aria-selected="" id="{{this}}-label">{{.}}</a>
</li>
