<div class="input-wrapper">
    <label class="text-left">
        <span class="input-label">{{title}}
          {{#if required}}
            <small class='required'>Required</small>
          {{/if}}
        </span>
      </label>
        <select name="@field" class="select" {{#if required}}required{{/if}} {{#if multiple}}multiple{{/if}} {{#if pattern}}data-validator="{{pattern}}"{{/if}} {{#if disabled}}disabled{{/if}}>
          {{#each options}}
                    <option value="{{this}}" {{#compare 'this' '@../title' operator='=='}}"selected=\"selected\"" {{/compare}}>{{this}}</option>
          {{/each}}
        </select>
            <small class="form-error">{{errorMsg}}</small>
</div>
